<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/index.css">
    <title>HOME</title>
</head>
<body>
    <h1>{{ pageTitle }}</h1>
    <h3>{{ subtitle }}</h3>
    <h3>{{ example }}</h3>
    <h1> Strona stworzona w hbs</h1>

<ul>
    <li>pomidor</li>
    <li>cebula</li>
    <li>ogórek</li>
</ul>

<input type="text" id="val">
<button id="btn">Kliknij mnie</button>
<div id="output"></div>
<a href="./about">Przejdź do about</a>
<script src="../js/func.js"></script>
</body>
</html>